body {
  margin: 0;
}
.bgc {
  width: 100vw;
  height: auto;
  background-color: rgba(15, 13, 13, 0.473);
}
.img {
  display: flex;
  justify-content: center;
}
.table {
  display: flex;
  justify-content: center;
}
.form {
  background-color: white;
  width: 450px;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
}
.text {
  display: flex;
  justify-content: center;
}
.name {
  display: flex;
  justify-content: space-between;
}
.name input {
  height: 35px;
  width: 170px;
  border: 1px solid gray;
  border-radius: 10px;
}
div.name {
  width: 400px;
  margin: 0 auto;
}
.name {
  display: flex;
  justify-content: space-between;
}
div.date {
  width: 400px;
  margin: 0 auto;
}
.date {
  display: flex;
  justify-content: space-between;
}
.date select {
  height: 35px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 10px;
}
div.Mobile_number_or_email_address {
  width: 400px;
  margin: 0 auto;
}
.Mobile_number_or_email_address {
  display: flex;
  justify-content: center;
}
.Mobile_number_or_email_address input {
  height: 35px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}
div.password {
  width: 400px;
  margin: 0 auto;
}
.password {
  display: flex;
  justify-content: center;
}

.password input {
  height: 35px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}
.submit {
  display: flex;
  justify-content: center;
}
.submit input {
  height: 35px;
  width: 150px;
  border-radius: 10px;
  background-color: green;
}
