body {
  margin: 0px;
}
img {
  padding: auto;
}
ul {
  display: flex;
  /* set các thẻ li về 1 dòng */
  list-style: none;
  justify-content: center;
  /* căn vào giữa  */
}
li {
  padding: 5px;
}
.boder {
  border-right: 1px solid gray;
}
nav {
  padding: 10px;
  background-color: #0c4ca3;
}
.danhmuc-lienket {
  color: white;
  text-decoration: none;
}
.banner-qc {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.qc {
  display: flex;
  justify-content: space-between;
}
header {
  border-bottom: 15px solid #f1f1f2;
}
.tintuc {
  border-bottom: 5px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table img {
  width: 50%;
}
.noidung {
  margin: 0 auto;
  width: 1170px;
}
