/* css thanh công cụ */
.thanh_cong_cu > div {
  display: flex;
  justify-content: space-between;
}
.thanh_cong_cu input {
  width: 500px;
  height: 30px;
  border-radius: 15px;
  border: none;
}

a {
  color: white;
  text-decoration: none;
}

/* css nội dung */
.noi_dung {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 85vh;
}
.trai {
  background-color: #292929;
  width: 25vw;
}
.trai_1 {
  display: flex;
  justify-content: space-between;
}
.trai_1 p {
  margin: 10px 10px;
}
.trai_1 > div a {
  background-color: #4b4a4a;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
}
.trai_1 > div {
  display: flex;
}
.trai_2 {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.trai_2 a {
  background-color: #4b4a4a;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
}
.giua {
  background-color: #292929;
  width: 50vw;
}
.giua_1 {
  margin: 10px 10px;
}
.giua_1 a {
  background-color: #4b4a4a;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
}
/* .giua_2 img {
  width: 10%;
  border-radius: 15px;
} */
/* .giua_2 > div > div {
  background-color: #4b4a4a;
  border: 1px solid gray;
  border-radius: 15px;
} */
.phai {
  background-color: #292929;
  width: 25vw;
}

.baihat {
  width: 22%;
  height: 50px;
  display: flex;
  align-items: center;
}

.giua_2 {
  display: flex;
  justify-content: space-between;
}

.giua_2 img {
  width: 40%;
  margin-right: 20px;
}
